<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjx.study.dao.UserMapper">

    <select id="selectByPhone" resultType="com.wjx.common.vo.UserVO">
        select id, name, phone from pp_user where phone = #{phone,jdbcType=VARCHAR} limit 1
    </select>

</mapper>
