<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjx.study.dao.GoodsMapper">

    <select id="selectGoodsById" resultType="com.wjx.common.vo.GoodsVO">
        select id, name, stock , sale_price from pp_goods where id = #{id,jdbcType=BIGINT}
    </select>

    <update id="updateGoodsById">
        update pp_goods set stock = stock - 10 where id = #{id}
    </update>
</mapper>
